
<header class="celerity-header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">

				<div class="col-xs-12 col-sm-4">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#celerity-collapsed-header" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
						</button>

						<a class="navbar-brand" href="#"><img src="../../public/images/celerity-logo.png"></a>
					</div>
				</div>

				<div id="celerity-collapsed-header" class="collapse navbar-collapse">
					<div class="col-xs-12 col-sm-4">
						<form class="navbar-form text-center" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
								</span>
							</div>
						</form>
					</div>

					<div class="col-xs-12 col-sm-4">
						<ul class="nav navbar-nav navbar-right celerity-header-profile">
							<li class="celerity-header-profile-item"><div class="celerity-header-profile-picture"></div></li>
							<li>
								<ul class="list-group">
								  <li class="list-group-item"><strong>{{customer_name}}</strong></li>
								  <li class="list-group-item celerity-miniheader"><a href="#">Account Settings</a> | <a href="#">Log out</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

		</div>
	</nav>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="row">

				<div class="navbar-header celerity-subheader-collapsed-buttons">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#celerity-collapsed-subheader" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						Button
					</button>

					<ul class="nav navbar-nav celerity-subheader-notifications">
						<li><a href="#" class="celerity-notification"><span class="badge">13</span> Notification</a></li>
						<li><a href="#" class="celerity-notification"><span class="badge">4</span> Notification</a></li>
					</ul>
				</div>

				<div id="celerity-collapsed-subheader" class="collapse navbar-collapse celerity-subheader-buttons">
					<ul class="nav navbar-nav">
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
						<li><a href="#">Button</a></li>
					</ul>
				</div>

			</div>
		</div>
	</nav>
</header>
<main>
	<div class="container">
		<p class="bg-warning"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i> <strong>{{client_name}}:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut lacinia ipsum. Fusce consequat, nibh id egestas iaculis...</p>

		<section>
			<h1>Section Title</h1>

		</section>

		<section>
			<h1>Section Title</h1>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Regular link</a></li>
				<li><a href="#">Another link</a></li>
			</ul>
		</section>

		<section>
			<h1>Section Title</h1>

		</section>

		<section>
			<h1>Section Title</h1>

			<button class="btn btn-white">Button</button>
		</section>

		<h1>Hello from Angular 2 App with Webpack</h1>
	</div>
</main>
